*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

       /* --------------global value---------------- */

body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color:rgb(82, 77, 77);
}
.orange-color{
    color:rgb(204, 96, 46);
}
p{
    font-size: 1.4rem;
    color:gray;
}
section{
    margin-top:20px;
}
.global-section{
    display: flex;
    justify-content: center;

}
.link-btn{
    text-decoration: none;
    font-size: 1rem;
    /* border:1px solid rgb(178, 235, 114); */
    background-image: linear-gradient(orange,tomato);
    padding: 11px 30px;
    border-radius: 11px;
    display: inline-block;
    margin-top: 20px;
}


 /* ---------navbar section-------------- */
#navbar{
    height: 100px;
}

/* -------------Welcome Section---------- */


#welcome-banner{
    /* border: 2px solid red; */
}
#welcome-info{
    padding:60px 25px 0px 75px;
}
#welcome-info .link-btn{
    margin-left: 320px;
}
#welcome-info h1{
    font-size: 3.4rem;
    margin-bottom:20px;
}
#welcome-info #special-head{
    margin-left: 60px;
}
#welcome-img{
 padding-right: 40px;
}

.welcome{
/* border:2px solid tomato; */

}

       /* -------------about info------------------- */

#about-info{
    /* border: 3px solid red; */
    margin-top:120px;
}
.about{
    border-left: 2px solid tomato;
    width: 45%;
    background: url("images/shapes/Frame\ 58.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about-para{
    padding:130px 55px;
}
.heading-2{
    color:rgb(82, 77, 77);
    font-size: 2rem;
}
.short-para{
    font-size: 1.1rem;
    margin-top:30px;
    line-height: 30px;
}
#about-img{
    padding-left: 40px;
}
#owner-about-img{
    width:300px;
}


/* -----------/////---------Our Recepies section----------- */

#Our-recepies{
    /* border:2px solid tomato; */
    margin-top:100px;
    padding-top: 50px;
    background: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#food-info{
    text-align: center;
    width: 70%;
    margin: auto;
}


.food-review{
    /* border:2px solid red; */
    border-radius: 15px;
    width: 360px;
    margin: 30px;
    box-shadow: 5px 7px 28px;

}

.food-review img{
    width: 270px;
    margin: auto;
    display: block;
    margin-top: 20px;

}
.food-review h2{
    margin-left: 80px;
    margin-top: 20px;
}

.food-review p{
    padding: 0px 5px 15px 15px ;
}

footer{
    text-align: center;
    margin:50px 0px 0px 0px;
    background: #FFEEEE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

footer h2{
    color:rgb(82, 77, 77);
    padding-top: 40px;
}