*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

       /* --------------global value---------------- */

body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color:rgb(82, 77, 77);
}
.orange-color{
    color:rgb(204, 96, 46);
}
p{
    font-size: 1.4rem;
    color:gray;
}
section{
    margin-top:20px;
}
.global-section{
    display: flex;
    justify-content: center;

}
.link-btn{
    text-decoration: none;
    font-size: 1rem;
    /* border:1px solid rgb(178, 235, 114); */
    background-image: linear-gradient(orange,tomato);
    padding: 11px 30px;
    border-radius: 11px;
    display: inline-block;
    margin-top: 20px;
}


 /* ---------navbar section-------------- */
#navbar{
    height: 100px;
}

/* -------------Welcome Section---------- */


#welcome-banner{
    /* border: 2px solid red; */
}
#welcome-info{
    padding:60px 25px 0px 75px;
}
#welcome-info .link-btn{
    margin-left: 320px;
}
#welcome-info h1{
    font-size: 3.4rem;
    margin-bottom:20px;
}
#welcome-info #special-head{
    margin-left: 60px;
}
#welcome-img{
 padding-right: 40px;
}

.welcome{
/* border:2px solid tomato; */

}